.u-section-1 {
    background-image: linear-gradient(
            0deg,
            rgba(219, 84, 90, 0.5),
            rgba(219, 84, 90, 0.5)
        ),
        url("../images/2cd7e2239d406bd46ac57b90fbcf246256ff7a230cac4d97b758089e16876b0db5c7bfbb09dec89c31185626a0ea27ab21c28606e9b23a01713c52_1280.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 800px;
}

.u-section-1 .u-text-1 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 60px 40px 0 0;
}

.u-section-1 .u-text-2 {
    font-size: 6rem;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: none;
    font-family: abril-fatface;
    margin: 29px 40px 0 0;
}

.u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 2px;
    animation-duration: 1000ms;
    margin: 41px auto 60px 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 660px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        margin-top: 30px;
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 40px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 542px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 188px;
    }

    .u-section-1 .u-text-2 {
        font-size: 4.5rem;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 451px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 143px;
    }

    .u-section-1 .u-text-2 {
        font-size: 3.75rem;
    }

    .u-section-1 .u-btn-1 {
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        background-size: auto 125%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 598px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: 196px;
    }

    .u-section-1 .u-text-2 {
        width: auto;
        animation-duration: 1000ms;
        margin-top: 16px;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: Roboto, sans-serif;
    }

    .u-section-1 .u-btn-1 {
        letter-spacing: 0px;
        border-style: solid;
        margin-top: 94px;
        margin-left: auto;
        margin-bottom: 60px;
    }
}
